body {
    background-color:lightblue;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.paragraph{
    margin-left: 100px;
    margin-right: 100px;
}

.title {
    text-align: center;
    text-shadow: 2px 2px red;
    font-size: 50px;
    margin-top: 50px;
}

.subtitle {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.container {
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.button {
    color: blue;
}

.welcome {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
}

table, th, td {
    border: 1px solid;
    margin-top: 10px;
}

table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: center;
    height: 35px;
}

#under-construction-image {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#construction-gif {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}